<!DOCTYPE html>
<html>
<head>
	<title>Marks Prediction</title>
</head>
<body>
	<div class="container">
		<div class="alert alert-warning">
             <center><h1> Marks Prediction in the blank </h1></center>
		</div>
		<br>
		<form action="/" method="POST" class="form-inline">
			<label> How many hours did you study? &nbsp;&nbsp;</label>
		  <input class = "form-control" type="text" name="hours" placeholder="Hours">
		  <button class="btn btn-primary btn-lg"> Get Score </button>

	</form>
   {% if your_marks %}
	    <h1> Your marks are : <i> {{your_marks}} </i> </h1>
    {% endif %}
	</div>
 
		
</body>
</html>